* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(243, 242, 242);
}

ul {
    margin-bottom: 2rem;
}

.quizBtns {
    display: inline;
    margin-bottom: 2rem;
}

.time {
    display: inline;
    font-size: 2rem;
    margin-left: 1rem;
}

main {
    text-align: center;
    margin-top: 5rem;
}

.head {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.instructions {
    font-size: 1.5rem;
    margin-bottom: 5rem;
}

.start-button {
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border-color: white;
}

.result {
    display: none;
    color: darkgray;
    border-top: 4px solid darkgray;
    margin-top: 6rem;
    font-size: 2rem;
    font-style: italic;
}

#intial {
    margin-top: 1rem;
    display: none;
    border: 1px solid #ccc;
}

input[type=submit] {
    display: none;
    background-color: blueviolet;
    color: white;
    padding: 3px;
    border-radius: 10px;
    border-color: white;
}

.hs-btns button{
    background-color: blueviolet;
    color: white;
    padding: 3px;
    border-radius: 10px;
    border-color: white;
}

.hs-btns li{
    display: inline;
}